cpp/drawing/put_text_sample/cmake_install.cmake
cpp/drawing/put_text_sample/CMakeCache.txt
cpp/drawing/put_text_sample/Makefile
cpp/drawing/put_text_sample/put_text_sample
cpp/drawing/put_text_sample/CMakeFiles/